@import "tailwindcss";

body {
  font-family: sans-serif;
  background-color: oklch(97% 0.04 70);
}

header {
  background-color: oklch(90.1% 0.076 70.697);
  padding: 1rem;
}

input {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid oklch(90% 0.04 70);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease;
}

input:hover {
  border-color: oklch(70% 0.1 70);
  background-color: oklch(99% 0.01 70);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

